html {
  box-sizing: border-box;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #262626;
}

.about-us-right button, .header-main button {
  border: solid 1px #d3ab54;
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
  font-family: "Josefin Sans";
  font-weight: "";
  font-style: "";
  color: #d3ab54;
  font-size: 1rem;
}
.about-us-right button:hover, .header-main button:hover {
  color: #262626;
  background-color: #d3ab54;
  transition: all 0.4s;
}

header {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  background-image: url("/asset/image/bg.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-position: center;
}

.header-top {
  display: flex;
  position: absolute;
  align-items: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 3rem;
}
.header-top > div {
  margin: auto;
  margin-right: 0;
  margin-left: 0;
}
.header-top-ttl {
  margin: auto;
  margin-left: 0;
  text-align: start;
  font-size: 5rem;
  font-family: "Nunito";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-top-ttl {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header-top-ttl {
    font-size: 3rem;
  }
}
.header-top-desc {
  margin: auto;
  margin-left: 0;
  text-align: start;
  font-size: 1.5rem;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-top-desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .header-top-desc {
    font-size: 1rem;
  }
}

.header-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-main h1 {
  font-family: "Dancing Script";
  font-weight: "";
  font-style: "";
  color: #d3ab54;
  font-size: 6rem;
  margin: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-main h1 {
    font-size: 5rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .header-main h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
.header-main h3 {
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-main h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .header-main h3 {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
}
.about-us {
  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us {
    height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .about-us {
    height: 100vh;
    grid-template-columns: none;
  }
}
.about-us-left {
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .about-us-left {
    display: none;
  }
}
.about-us-left > img {
  width: 100%;
}
.about-us-right {
  width: 100%;
  margin: auto;
  padding: 0 3rem;
}
.about-us-right h1 {
  font-family: "Dancing Script";
  font-weight: "";
  font-style: "";
  color: #d3ab54;
  font-size: 6rem;
  margin: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us-right h1 {
    font-size: 5rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about-us-right h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
.about-us-right h3 {
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us-right h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .about-us-right h3 {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
}
.about-us-right .stars {
  margin: 2rem 0;
}
.about-us-right .stars > .fa-solid {
  color: #d3ab54;
  margin-left: 0.5rem;
}
.about-us-right p {
  font-family: "Josefin Sans";
  font-weight: "";
  font-style: italic;
  color: #bbbbbb;
  font-size: 1rem;
}
.card {
  width: 100%;
}
.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 767px) {
  .card-list {
    display: flex !important;
    flex-direction: column;
  }
}
.card-list-item {
  overflow: hidden;
  width: 100%;
  height: 30vw;
  position: relative;
}
@media screen and (max-width: 767px) {
  .card-list-item {
    height: 30vh;
  }
}
.card-list-item:nth-child(1) {
  background-image: url("/asset/image/gallery-img-1.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-position: center;
}
.card-list-item:nth-child(2) {
  background-image: url("/asset/image/gallery-img-2.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-position: center;
}
.card-list-item:nth-child(3) {
  background-image: url("/asset/image/gallery-img-3.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-position: center;
}
.card-list-item:nth-child(4) {
  background-image: url("/asset/image/gallery-img-4.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-position: center;
}
.card-list-item:nth-child(5) {
  background-image: url("/asset/image/gallery-img-5.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-position: center;
}
.card-list-item:nth-child(6) {
  background-image: url("/asset/image/gallery-img-6.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-position: center;
}
.card-list-item:hover .card-list-item-overlay {
  transform: translateX(100%);
}
.card-list-item-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  transition: 1s;
  background-color: rgba(211, 171, 84, 0.6);
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
}
.card-list-item-overlay h1 {
  margin: 0;
  font-size: 4rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-list-item-overlay h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .card-list-item-overlay h1 {
    font-size: 2rem;
  }
}
.card-list-item-overlay p {
  margin-top: 0.5rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-list-item-overlay p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .card-list-item-overlay p {
    font-size: 1rem;
  }
}
.card-list-item-overlay button {
  width: 15rem;
  height: 3rem;
  color: #d3ab54;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #fff;
  border: solid 1px #d3ab54;
  border-radius: 30px;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-list-item-overlay button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .card-list-item-overlay button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
  }
}

footer {
  width: 100%;
  height: 70vh;
  margin: 0;
  position: relative;
}

.footer-header {
  display: flex;
  position: absolute;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-header-ttl {
  margin: auto;
  margin-left: 0;
  text-align: start;
  font-size: 5rem;
  font-family: "Nunito";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-header-ttl {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .footer-header-ttl {
    font-size: 3rem;
  }
}
.footer-header-desc {
  margin: auto;
  margin-left: 0;
  text-align: start;
  font-size: 1.5rem;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-header-desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .footer-header-desc {
    font-size: 1rem;
  }
}

.footer-social-media {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-social-media .social-media {
  width: 100%;
  display: flex;
  padding: 0 20%;
  text-decoration: none;
  justify-content: center;
}
.footer-social-media .social-media-item {
  margin-left: 3rem;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .footer-social-media .social-media-item {
    margin-left: 1rem;
  }
}
.footer-social-media .social-media-item i {
  color: #bbbbbb;
  font-size: 3rem;
  cursor: pointer;
}
.footer-social-media .social-media-item i:hover {
  color: #d3ab54;
}
@media screen and (max-width: 767px) {
  .footer-social-media .social-media-item i {
    font-size: 2rem;
  }
}

.footer-copyright {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  color: #bbbbbb;
  color: #bbbbbb;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .footer-copyright {
    font-size: 1rem;
  }
}

.logo {
  display: flex;
  width: 10rem;
  height: 10rem;
  border: solid 3px #d3ab54;
  border-radius: 50%;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 7rem;
    height: 7rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */