@use '../abstract/variables' as v;

@mixin font-face($family, $weight: normal, $style: normal, $color: v.$text-color) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}
